.login_page {
  display: flex;
  justify-content: center !important;
  align-items: center;
  background: linear-gradient(
    rgba(86, 214, 203, 0.1) 50%,
    rgba(94, 37, 199, 0.1) 100%
  ) !important;
}
.login_left_image img {
  width: 100% !important;
  height: 90% !important;
}

