/* start hero */


.hero_right {
  width: 100% !important;
  height: 90% !important;
  /* animation: bounceTop_01 3s ease infinite; */
  padding-top: 50px !important;
}

/* @keyframes bounceTop_01 {
    0%,
    100% {
      transform: translateY(-35px);
    }
    50% {
      transform: translateY(0px);
    }
  } */
/* End hero */

/* .aboutme_text {
    color: darkslategray !important;
    font: smaller !important;
    line-height: 22px !important;
    white-space: pre-line !important;
  } */
/* Service */
/* our short team */

.team_member {
  display: flex !important;
}
.team_image_design{
  height: 230px ;
  width: 100%;

}
/* lets start */
.lets_start {
  height: 100%;
  border-radius: 10px !important;
  padding: 10px 5px !important;
  /* box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 30%) !important; */
  display: flex !important;
  justify-content: center !important;
}
.lets_start_shadow {
  box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 30%) !important;
}
.lets_start_icon {
  text-align: center !important;
  padding: 15px 0px !important;
}
.lets_start .lets_start_icon_main > .MuiSvgIcon-root {
  width: 4rem !important;
  height: 4rem !important;
  display: inline;
}

.lets_start .lets_start_title {
  font-size: 1.5rem !important;
  font-weight: 30px !important;
  text-align: center;
  color: var(--font-color) !important;
  font-family: "poppins" !important;
  padding: 10px 0px 15px 0px !important;
  font-weight: 700 !important;
}

.lets_start .lets_start_description {
  color: #4f5964 !important;
  margin-right: 5px !important;
  text-align: center;
  padding-top: 8px !important;
  font-size: 0.9rem !important;
  padding-bottom: 20px !important;
  font-weight: 400 !important;
  font-family: "poppins" !important;
}
.lets_start_btn {
  text-align: center !important;
  padding-bottom: 20px !important;
}


/* contact start */
.contactInfo_item {
  color: var(--font-color) !important;
  line-height: 34px !important;
  padding: 3px 0px !important;
  font-family: "poppins" !important;
}
.contactInfo_item_center {
  margin-top: 35px;
}
.contactInfo_item_span {
  font-weight: 500;
}
.contactInfo_socialsContainer {
  margin-top: 20px;
}
.contactInfo_item .contactInfo_item_span > .MuiSvgIcon-root {
  font-size: 2rem !important;
  margin-right: 10px;
  color: var(--font-color) !important;
}
.contactInfo_social > a > .MuiSvgIcon-root {
  font-size: 32px !important;
  margin-right: 10px;
  margin-top: 3px !important;
  color: var(--font-color) !important;
}
.contactInfo_socialsContainer .contactInfo_social .MuiSvgIcon-root {
  font-size: 25px !important;
}
/* contact end */
/* software and development */

.MuiIcon-root {
  width: 3em !important;
  height: 1.4em !important;
  overflow: hidden;
  font-size: 1.5rem;
  flex-shrink: 0;
  -moz-user-select: none;
}

