/* start hero */
.hero_bg {
  background: rgba(214, 185, 86, 0.1) !important;
}
.hero {
  padding: 70px 50px !important;
  display: flex;
  justify-content: center !important;
  align-items: center;
}
.hero_left_title_name {
  font-size: 0.9rem !important;
  font-weight: 600 !important;
  color: var(--main-color);
  padding-bottom: 6px !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
}
.hero .hero_left_title {
  font-size: 2.1rem !important;
  font-weight: 600 !important;
  color: var(--font-color);
  padding-bottom: 5px !important;
}
.hero .hero_left_p {
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: #d6b956 !important;
  padding-bottom: 5px !important;
  padding-top: 8px !important;
}
.hero .hero_left_fancy {
  font-size: 1rem !important;
  font-weight: 600 !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.hero_right {
  width: 100% !important;
  height: 90% !important;
  /* animation: bounceTop_01 3s ease infinite; */
  padding-top: 50px !important;
}

/* @keyframes bounceTop_01 {
    0%,
    100% {
      transform: translateY(-35px);
    }
    50% {
      transform: translateY(0px);
    }
  } */
/* End hero */

/* .aboutme_text {
    color: darkslategray !important;
    font: smaller !important;
    line-height: 22px !important;
    white-space: pre-line !important;
  } */
/* Service */
.service {
  height: 100%;
  text-align: center;
  /* box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08) !important; */
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 50%);
  border-radius: 6px !important;
  padding: 25px 30px !important;
  border: 1px solid var(--main-border) !important;
  /* box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 30%) !important; */
}
.service:hover {
  box-shadow: 12px 25px 24px 12px rgb(0 0 0 / 30%) !important;
  border-top: 1px solid var(--main-color) !important;
  border-bottom: 1px solid var(--main-color) !important;
}
.service .service_title {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  line-height: 30px !important;
  text-align: center;
  color: Var(--font-color) !important;
  font-family: "poppins" !important;
  padding: 5px 0px 1px 0px !important;
}

.service .service_description {
  color: Var(--font-color) !important;
  border-color: var(--main-color) !important;
  margin-right: 5px !important;
  text-align: center;
  padding-top: 8px !important;
  min-height: 150px !important;
  font-size: 1rem !important;
  padding-bottom: 20px !important;
  font-weight: 400 !important;
  font-family: "poppins" !important;
}
.MuiIcon-root {
  width: 4em !important;
  height: 4em !important;
  overflow: hidden;
  font-size: 3rem;
  flex-shrink: 0;
  -moz-user-select: none;
  margin-bottom: 6px !important;
  color: var(--main-color) !important;
}
.service_icon > .MuiSvgIcon-root {
  font-size: 3rem !important;
  margin-left: 0 !important;
  margin-top: -2px !important;
}
/* about */
.about_us_right {
}
.about_us_right .about_us_right_title {
  padding: 0 3px;
  color: var(--main-color) !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}
.about_us_right .about_us_right_title_extra {
  font-family: "poppins";
  font: 2rem !important;
  font-weight: 700 !important;
  color: var(--font-color) !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  text-transform: capitalize !important;
}
.about_us_right .about_us_right_description {
  color: Var(--font-color) !important;
  padding-top: 8px !important;
  padding-right: 10px !important;
  font-size: 1rem !important;
  padding-bottom: 20px !important;
  font-weight: 500 !important;
  font-family: "poppins" !important;
}
/* work flow */
.workflow_section_title {
  font-family: "poppins";
  padding: 0 3px;
  text-align: center !important;
  color: var(--main-color) !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
}
.workflow_extra_section_title {
  font-family: "poppins";
  font: 2rem !important;
  font-weight: 700 !important;
  color: var(--font-color) !important;
  padding-top: 10px !important;
  padding-bottom: 3px !important;
  text-align: center !important;
  text-transform: capitalize !important;
}
.workflow_extra_section_p {
  font-family: "poppins";
  font: 2rem !important;
  font-weight: 500 !important;
  color: var(--font-color) !important;
  padding-top: 3px !important;
  padding-bottom: 5px !important;
  text-align: center !important;
  padding-left: 20% !important;
  padding-right: 20% !important;
  letter-spacing: 1px !important;
}
.workflow_main .MuiPaper-root {
  background-color: transparent !important;
}
.workflow {
  height: 100%;
  box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 30%) !important;
  border-radius: 6px !important;
  padding: 15px 5px !important;
  /* box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 30%) !important; */
}

.workflow:hover .workflow_number {
  color: #ffffff !important;
}
.workflow .workflow_title {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  line-height: 2px !important;
  text-align: center;
  color: #ffffff !important;
  font-family: "poppins" !important;
  padding: 0px 0px 10px 0px !important;
}

.workflow .workflow_description {
  color: #ffffff !important;
  margin-right: 5px !important;
  text-align: center;
  padding-top: 8px !important;
  font-size: 1rem !important;
  padding-bottom: 20px !important;
  font-weight: 400 !important;
  font-family: "poppins" !important;
}
.workflow .workflow_number {
  width: 2em !important;
  height: 2em !important;
  overflow: hidden;
  font-size: 2rem;
  flex-shrink: 0;
  -moz-user-select: none;
  color: transparent !important;
  padding-left: 20px !important;
}
/* portfolio */
.portfolio {
  background: rgba(24, 144, 255, 0.1) !important;
  
}
.portfolio .portfolio_aling {
  
  display: flex;
  justify-content: center !important;
  align-items: center;
}
.portfolio_more_btn {
  display: flex !important;
  justify-content: center !important;
  padding-top: 45px !important;
  padding-bottom: 55px !important;
}
/* testimonial */
.testimonial {
  background: rgba(94, 37, 199, 0.1);
}
.testimonial_carousel {
  display: flex !important;
  justify-content: center !important;
}
/* our short team */

.team_member {
  display: flex !important;
}
/* lets start */
.lets_start {
  height: 100%;
  border-radius: 10px !important;
  padding: 10px 5px !important;
  /* box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 30%) !important; */
  display: flex !important;
  justify-content: center !important;
}
.lets_start_shadow {
  box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 30%) !important;
}
.lets_start_icon {
  text-align: center !important;
  padding: 15px 0px !important;
}
.lets_start .lets_start_icon_main > .MuiSvgIcon-root {
  width: 4rem !important;
  height: 4rem !important;
  display: inline;
}

.lets_start .lets_start_title {
  font-size: 1.5rem !important;
  font-weight: 30px !important;
  text-align: center;
  color: var(--font-color) !important;
  font-family: "poppins" !important;
  padding: 10px 0px 15px 0px !important;
  font-weight: 700 !important;
}

.lets_start .lets_start_description {
  color: #4f5964 !important;
  margin-right: 5px !important;
  text-align: center;
  padding-top: 8px !important;
  font-size: 0.9rem !important;
  padding-bottom: 20px !important;
  font-weight: 400 !important;
  font-family: "poppins" !important;
}
.lets_start_btn {
  text-align: center !important;
  padding-bottom: 20px !important;
}
/* my accordions */
.myaccordion {
  background: rgba(94, 37, 199, 0.1);
  /* min-height: 150vh !important; */
}
.myaccordion .myaccordion_height {
  min-height: 60vh !important;
}
.myaccordion_mainpart {
  display: flex !important;
  justify-content: center !important;
}

/* .myaccordion_mainpart_space_main{
    margin: 3px 0px !important;
  } */

/* contact start */
.contactInfo_item {
  color: var(--font-color) !important;
  line-height: 34px !important;
  padding: 3px 0px !important;
  font-family: "poppins" !important;
}
.contactInfo_item_center {
  margin-top: 35px;
}
.contactInfo_item_span {
  font-weight: 500;
}
.contactInfo_socialsContainer {
  margin-top: 20px;
}
.contactInfo_item .contactInfo_item_span > .MuiSvgIcon-root {
  font-size: 2rem !important;
  margin-right: 10px;
  color: var(--font-color) !important;
}
.contactInfo_social > a > .MuiSvgIcon-root {
  font-size: 32px !important;
  margin-right: 10px;
  margin-top: 3px !important;
  color: var(--font-color) !important;
}
.contactInfo_socialsContainer .contactInfo_social .MuiSvgIcon-root {
  font-size: 25px !important;
}
/* contact end */
/* software and development */

.MuiIcon-root {
  width: 3em !important;
  height: 1.4em !important;
  overflow: hidden;
  font-size: 1.5rem;
  flex-shrink: 0;
  -moz-user-select: none;
}

.extra_portfolio_item {
  /* border: 1px solid red !important; */
  min-height: 390px !important;
}
.extra_portfolio_item img {
  /* border: 1px solid red !important; */
  height: 390px !important;
}
.extra_portfolio_item1 {
  max-height: 390px !important;
  background: #1c1c1c !important;
  padding: 40px 30px 30px 30px !important;
  align-items: center;
}
.extra_portfolio_item1
  .extra_portfolio_item1_main
  .extra_portfolio_item1_main_name {
  color: #939393 !important;
  margin-bottom: 10px !important;
  font-weight: 500 !important;
  font-size: 0.9rem !important;
}
.extra_portfolio_item1
  .extra_portfolio_item1_main
  .extra_portfolio_item1_main_title {
  color: #fff !important;
  margin-bottom: 20px !important;
  font-size: 1.1rem !important;
  line-height: 26px !important;
}

@media screen and (max-width: 1090px) {
  .extra_portfolio_item1
    .extra_portfolio_item1_main
    .extra_portfolio_item1_main_name {
    color: #939393 !important;
    margin-bottom: 7px !important;
    font-weight: 500 !important;
    font-size: 0.8rem !important;
  }
  .extra_portfolio_item1
    .extra_portfolio_item1_main
    .extra_portfolio_item1_main_title {
    color: #fff !important;
    margin-bottom: 16px !important;
    font-size: 0.9rem !important;
    line-height: 20px !important;
  }
}
.extra_portfolio_item1
  .extra_portfolio_item1_main
  .extra_portfolio_item1_main_description {
  color: #939393 !important;
  margin-top: 10px !important;
  font-weight: 400 !important;
  font-size: 0.8rem !important;
}
.extra_portfolio_item1
  .extra_portfolio_item1_main
  .extra_portfolio_item1_main_button {
  text-align: center !important;
  padding-bottom: 5px !important;
}
.feature {
  background: #fafafa !important;
  /* border: 1px solid red; */
  padding: 50px 40px 40px 40px !important;
}
.feature .feature_item {
  display: inline-flex !important;
  /* background-color: #dbdbdb !important; */
  /* border: 1px solid red; */
}
.feature .feature_item .feature_item_icon {
  font-size: 4rem !important;
  color: var(--main-color) !important;
  font-weight: 300 !important;
}
.feature .feature_item .feature_item_padding {
  padding-left: 15px !important;
  padding-right: 25px !important;
}
.feature .feature_item .feature_item_name {
  color: #232323 !important;
  font-weight: 500 !important;
}

.feature .feature_item .feature_item_title {
  color: #6f6f6f !important;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}
